$mainbodyfonser13: #F8F8F8;
$white: #FFFFFF;
$bluemarine: #B8FFEC;
$pinkhover: #FF3E79;
$greyfocus: #7E7E82;
$highbluemarine: #41F6D7;
$black: black;
$grey: grey;
$lightgrey: lightgrey;
$linelightgrey: #EAEAEA;
$headerstopborder: #D9FFF5;
$pagination-bullet: #B5B6BC;
$blackmedium: #1B1C21;
