@font-face {
	font-family: 'ttlakes';
	src: url('fonts/TTLakes-Regular.woff') format('woff');
}
@font-face {
	font-family: 'ttlakesmedium';
	src: url('fonts/TTLakes-Medium.woff') format('woff');
}
@font-face {
	font-family: 'ttlakesbold';
	src: url('fonts/TTLakes-Bold.woff') format('woff');
}
