.main-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 57px 12px 19px;

    @media (min-width: 768px) {
        flex-direction: row;
        justify-content: space-between;
        padding: 80px 24px 25px;
    }

    @media (min-width: 1120px) {
        padding: 83px 32px 21px;
        }

    .main-footer__item {
        text-align: center;
        color: $greyfocus;
        font-family: ttlakes;
        line-height: 16px;

        @media (min-width: 768px) {
            text-align: left;
        }
    }
    .main-footer__item--right {
        @media (min-width: 768px) {
            text-align: right;
            max-width: 213px ;
        }

        @media (min-width: 1120px) {
            max-width: 330px ;
        }
    }    
}